@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.puresourcecode.com/" target="_blank">
                <img src="images/psc_logo.png" height="45px" valign="middle" />
                PureSourceCode.com
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
